/* Write your CSS here */
.main-container {
  font-family: 'roboto';
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-title {
  font-family: 'lobster';
}
.ul {
  display: flex;
}
.repositories-cards-list-container {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0px;
  max-width: 1140px;
}
.failure-section {
  text-align: center;
}
.failure-img {
  width: 50%;
}
